/* .box {
    padding: 10px;
    border: 3px solid red;
    margin: 20px;
} */

.box {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: red;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    height: 300px;
    width: 49%;
    display: inline-block;
}

html, body {
    height: 100%;
}

/* #first-box {
    height: 100%;
    box-sizing: border-box;
    height: 300px;
    width: 50%;
} */

#first-box {
    display: none;
    /* visibility: hidden; */
}

div:last-of-type:hover {
    border-color: green;
}